body {
    margin: 0;
    margin: 0;

    .top-banner {
        background-image: url(top\ banner.png);
        background-repeat: no-repeat;

    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
    }

}

h1 {
    font-size: 70px;

}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.orange-color {
    color: orange;
    font-size: 40px;
}


.flexible-container {
    display: flex;
    margin-bottom: 50px;


}

.half-width {
    width: 80%;
    padding: 5%;

}

.half-width img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    background-image: -moz-linear-gradient(orange, TOMATO);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;

}

.dream-big {
    background-image: url(side-banner\ 3.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.experience-area {
    background-image: url(background-left.png);
    background-repeat: no-repeat;
    background-position: left;
}

h2 {
    font-size: 40px;
}

.experience-item {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid blue;
}

#fall-stack-devloper {
    border-left: 7px solid firebrick;
}

#baby-web developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}